.dropDownItem {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 2;
    background-color: white;
}
.dropDownItem:hover {
    background-color: antiquewhite;

}
.showMoreToggle {
    color: red;
    text-align: right;
    padding: 5px;
    cursor: pointer;
}