.pageContainer {
    height: 100vh;
    width: 100vw;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 100px;
}
.searchOuter {
    width: 40%;
}
@media screen and (max-width: 768px) {
    .searchOuter {
        width: 100%;
    }
}