.h-full {
    height: 100%;
}
.w-full {
    width:100%
}
.flex {
    display: flex;
}
.grow-1 {
    flex-grow: 1;
}
.flex {
    display: flex;
}
.justifyCenter {
    justify-content: center;
}
.p-10 {
    padding: 10px;
}
.border-1 {
    border: 1px solid black;
}